name: radar_chart
description: A flexible Flutter radar/spider chart with super powers.
  Colors and Sizes are customizable.
version: 2.0.1
homepage: https://github.com/kranfix/flutter_radar_chart

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^2.3.0
