name: radar_chart
description: A flexible Flutter radar/spider chart with super powers.
  Colors and Sizes are customizable.
version: 1.1.0
author: Frank Moreno <frankmoreno1993@gmail.com>
homepage: https://github.com/kranfix/flutter_radar_chart

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
